
<h2 style="text-align: center;background-color: lightslategray">Aileensoul Staff Recruiting Solutions </h2>
<!-- <router-outlet></router-outlet> -->

<nav style="text-align: center">
  <a class="make-space" routerLink="/about">About</a>
  <a class="make-space" routerLink="/login">Login</a>
  <a class="make-space" routerLink="/signup">Sign up</a>
  <a class="make-space" routerLink="/dealer">Dealer</a>
  <a class="make-space" routerLink="/dashboard">Business Profile</a>
  <a class="make-space" routerLink="/dashboard">Site Map</a>
  <a class="make-space" routerLink="/dashboard">Report</a>
  <a class="make-space" routerLink="/menu">Apply</a>
  <a class="make-space" routerLink="/downloads">Downloads</a>
  <a class="make-space" routerLink="/upload">Upload File</a>
  <a class="make-space" routerLink="/contact">Contact Us</a>
  <a class="make-space" routerLink="/dashboard">Feedback</a>
  <a class="make-space" routerLink="/dashboard">Terms & Conditions</a>
  <a class="make-space" routerLink="/dashboard">Privacy</a>
  <a class="make-space" routerLink="/dashboard">Disclaimer</a>
</nav>
<router-outlet></router-outlet>

