<div class="row" style="margin-top:20px">
  <div class="form-group">
    <label for="file">Choose File</label>
    <input type="file" id="file" (change)="handleFileInput($event.target.files)">
  </div>
</div>

<div class="row" style="margin-top: 20px">
  <h3>Angular 7 Image Preview before Upload:</h3>
<span style="color:red;" *ngIf="message">{{message}}</span>
<input #file type="file" accept='image/*' (change)="preview(file.files)" />
<img [src]="imgURL" height="200" *ngIf="imgURL">
</div>

<div class="row" style="margin-top: 20px">
    <div class="form-group">
        <button class="submit" name="submitbtn" (click)="getData()">get data</button>
      </div>
  <div class="form-group">
    <button class="submit" name="submitbtn" (click)="uploadFileToActivity()">Submit</button>
  </div>
</div>